<%- include('includes/head.ejs') %> 
<style>
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
</head>

<body>
    <%- include('includes/navigation.ejs')  %> 
    <h1 style="display:flex; justify-content: center; align-items: center; color:cadetblue; font-family: 'Times New Roman', Times, serif;">Page Not Found!</h1>
    <div class="image">
        <img src="https://static.doofinder.com/main-files/uploads/2019/08/110655-404-not-found-Doofinder.jpg" alt="Page Not Found">
    </div>
   
<%- include('includes/end.ejs')  %> 